<!-- scripts -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/movetop.js"></script>

<footer class="footer">

  <p class="footer-motto" style="color: white; font-weight: bold;"><i class="fa fa-fort-awesome" aria-hidden="true"></i> Ticket Shop <i class="fa fa-fort-awesome" aria-hidden="true"></i>
  </p>

  <p class="footer-name"> &copy; Ticket Shop</p>

</footer>
